<mat-card appearance="outlined" style="margin-bottom: 15px;">
    <div style="text-align:center;">
        <mat-card-title>spreadsheet</mat-card-title>
    </div>
    <mat-card-content>
        riesgos Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, placeat officiis veritatis ad consectetur enim. Velit iure provident consectetur nemo doloremque praesentium repellat eligendi et. Numquam possimus facilis officiis impedit?
        <br>
        A. <mat-radio-button>Before</mat-radio-button>
        <br>
        B. <mat-radio-button>Before</mat-radio-button>
        <br>
        c. <mat-radio-button>Before</mat-radio-button>
        <br>
        d. <mat-radio-button>Before</mat-radio-button>
    </mat-card-content>
</mat-card>

<div style="display: flex; justify-content: space-around;">
    <button mat-raised-button class="button-come-back">Anterior</button>
    <button mat-raised-button class="button-come-back" (click)="redirecTo('resultado')">Terminar</button>
</div>
