mat-card{
    border: 1px solid #39A900;
}

.button-come-back {
    // height: 60px; 
    background-color: #39A900 !important; 
    color: white !important; 
    width: 40%;
    // border-radius: 20px; 
    margin-bottom: 15px;
    // font-size: 24px;
}