mat-card{
    border: 1px solid #39A900;
}

.button-come-back {
    // height: 60px; 
    background-color: #39A900 !important; 
    color: white !important; 
    width: 40%;
    // border-radius: 20px; 
    margin-bottom: 15px;
    // font-size: 24px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 0px;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  @media (min-width: 800px) {

    .questionContainer {
      width: 100%;
      margin: auto;
      padding-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    mat-card {
      margin: auto;
      width: 600px;
    }

    .buttonContainer {
      width: 600px;
      margin: auto;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    .button-come-back {
      width: 200px;
    }

  }