<p>haptica works!</p>

<!-- <div style="width: 100%;"> -->

    <form [formGroup]="profileForm" (submit)="updateState()" style="padding: 20px;">

        <!-- <div> -->
            <mat-form-field>
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="selectState">
                  <mat-option value="1">Apagado</mat-option>
                  <mat-option value="2">Caliente</mat-option>
                  <mat-option value="3">Frio</mat-option>
                </mat-select>
            </mat-form-field>
        <!-- </div> -->

        <div>
            <button mat-raised-button type="submit" >Basic</button>
        </div>

    </form>


    
    

    <!-- <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field> -->
<!-- </div> -->