<button mat-raised-button class="button-come-back" (click)="redirecTo('inicio')">Volver al inicio</button>
@if (result$ | async) {
  <div style="margin-top: 20px;">
    <img src="../../../../assets/passed-test.png" alt="">
  </div>

  <div style="font-size: 20px; font-weight: 800; color: rgb(58, 57, 57);">
    Felicitaciones pasaste la prueba.
  </div>
}@else {
  <div style="margin-top: 20px;">
    <img src="../../../../assets/lost-test-emojin.jpg" alt="">
  </div>

  <div style="font-size: 20px; font-weight: 800; color: rgb(58, 57, 57);">
    Parece que algo fue mal, vuelve a presentar la prueba.
  </div>
}
<div style="width: 100%; align-items: center; margin-top: 20px;">
  <button *ngIf="result$ | async" mat-raised-button class="button-come-back" (click)="pdf()">Descargar Certificado</button>
</div>