<button mat-raised-button class="button-come-back" (click)="redirecTo()">volver al inicio</button>

<!-- <div>
  <mat-card class="example-card" appearance="outlined" *ngIf="item$ |async as item">
      <div style="text-align: center; font-size: 18px;">
        <h1>
          {{item.tittle}}
        </h1>
      </div>
  
      <div style="text-align: center;">
        <img mat-card-image src="../../../../assets/logoSena.png" alt="" style="height: 100px; width: 100px">
      </div>
  
      <mat-card-content>
        <p>
          {{item.description}}
        </p>
      </mat-card-content>
  </mat-card>
</div> -->

<div *ngIf="showCard">
  <mat-card appearance="outlined" style="margin-bottom: 15px;" *ngIf="item$ |async as item">
    <!-- <mat-card-title>spreadsheet</mat-card-title> -->
  
    <div style="text-align: center; font-size: 18px;">
      <h1>
        {{item.tittle}}
      </h1>
    </div>
  
    <div style="text-align: center;">
      <img mat-card-image src="../../../../assets/logoSena.png" alt="" style="height: 100px; width: 100px">
    </div>
  
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>



<div style="display: flex; margin-top: 15px;" class="test" *ngIf="item$ |async as item">
  <div  style="width: 50%;">
    <button mat-raised-button #backButton [disabled]="disabledBack" class="button-come" (click)="back(item.id)">Anterior</button>
  </div>
  
  <div style="width: 50%;">
    <button mat-raised-button #nextButton [disabled]="disabled" class="button-come-back" *ngIf="len$ |async as len"  (click)="next(item.id, len)">siguiente</button>
  </div>
</div>
