<button mat-raised-button class="button-come-back" (click)="redirecTo()">volver al inicio</button>

<mat-card class="example-card" appearance="outlined" *ngIf="item$ |async as item">

    <div style="text-align: center; font-size: 18px;">
      <h1>
        {{item.tittle}}
      </h1>
    </div>
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.tittle}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->

    <div style="text-align: center;">
      <img mat-card-image src="../../../../assets/logoSena.png" alt="" style="height: 100px; width: 100px">
    </div>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
</mat-card>

<div  style="width: 50%;">
  <button  mat-button #myButton  class="button-come-back" >Anterior</button>
</div>
<div style="display: flex; margin-top: 15px;" class="test" *ngIf="item$ |async as item">


  <div style="width: 50%;">
    <button mat-raised-button class="button-come-back" [hidden]="disabled" *ngIf="len$ |async as len"  (click)="next(item.id, len)">siguiente</button>
  </div>

</div>
