.example-card {
  max-width: 80%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card{
    border: 1px solid #39A900;
}

.button-come-back {
    height: 50px; 
    background-color: #39A900 !important; 
    color: white !important; 
    border-radius: 20px; 
    margin-bottom: 15px;
    font-size: 20px;
    z-index: 0;
}

.button-come {
  height: 50px; 
  background-color: #e1e2e0 !important; 
  color: rgb(12, 12, 12) !important; 
  border-radius: 20px; 
  margin-bottom: 15px;
  font-size: 20px;
  z-index: 0;
}

@media (min-width: 800px) {
  body {
    margin: 0;
  }

  mat-card {
    margin: auto;
    max-width: 1000px;
  }
  
  img {
    max-width: 30%;
    max-height: 30vh;
  }

  .test {
    margin: auto;
    max-width: 700px;
  }

}
