
<div class="card-container">
    <mat-card appearance="outlined" style="height: 291px; margin-bottom: 15px;" (click)="redirecTo('riesgos')">
        <mat-card-content>riesgos</mat-card-content>
    </mat-card>
    
    <mat-card appearance="outlined" style="height: 291px; margin-bottom: 15px;" (click)="redirecTo('emergencias')">
        <mat-card-content>emergencias</mat-card-content>
    </mat-card>
    
    <mat-card appearance="outlined" style="height: 291px; margin-bottom: 15px;" (click)="redirecTo('senalizaciones')">
        <mat-card-content>señalizaciones</mat-card-content>
    </mat-card>
</div>

<button mat-raised-button (click)="redirecTo('cuestionario')" style="height: 60px; background-color: #39A900; color: white; border-radius: 20px; font-size: 24px;">Presentar test</button>