
<div style="background-color: rgb(252, 250, 250); width: 100%; margin-top: 30px; bottom: 0px; z-index: 1;">
    <div style="width: 100%; text-align: center; color: antiquewhite; background-color: rgb(59, 60, 61); display: flex;">

        <div style="width: 50%;">
            <h4>Desarrollado por:</h4>
            <p>Jose Cipagauta</p>
            <p>Sammy Pulido </p>
            <p>Daniel Medina</p>
            <p>Ivan Rodríguez</p>
        </div>

        <div style="width: 50%;">
            <h4>Colaboradores:</h4>
            <p>Carlos Becerra</p>
            <p>Alvaro Fernández</p>
            <p>Heidy Lavao</p>
            <p>Nicol Lemus</p>
            <p>Alejandro Cogua</p>
        </div>

        
    </div>
    <div style="width: 100%; text-align: center;">
        <img class="senaFooter" style="height: 50px;" src="../../../../assets/footer.png"  alt="">
    </div>
</div>
